.pop-edit-loc .pop-main {
  width: 700px;
}
.pop-edit-loc .pop-main .section-search {
  padding: 10px;
}
.section-search .tit {
  font-size: 18px;
}
.section-search .tit .icon-dot {
  display: inline-block;
  width: 14px;
  height: 14px;
  margin-right: 12px;
  border-radius: 7px;
  background: #93d6e5;
}
.section-search .result {
  float: left;
  width: 66%;
  margin-right: 2%;
}
.section-search .result .tit {
  margin-top: 26px;
  padding-left: 32px;
}
.section-search .result .block {
  margin-top: 22px;
  border: 1px solid #bebebe;
  background: #f0f0f0;
}
.section-search .result .block .search {
  position: relative;
  margin: 24px 34px 39px;
  padding-left: 48px;
  background: #fff;
}
.section-search .result .block .search .icon-search {
  position: absolute;
  top: 11px;
  left: 12px;
  width: 26px;
  height: 27px;
}
.section-search .result .block .search .input {
  display: block;
  width: 100%;
  padding: 14px 0 15px;
  border: none;
}
.section-search .result .block .search .nav {
  position: absolute;
  top: 50px;
  left: 0;
  padding: 9px 0;
}
.section-search .result .block .search .nav span,
.section-search .result .block .search .nav a {
  margin-right: 5px;
}
.section-search .result .block .search .nav span {
  color: #8d8d8d;
}
.section-search .result .block .list {
  height: 300px;
  overflow-y: auto;
  background: #fff;
}
.section-search .result .block .list .city {
  padding: 18px 34px 18px 24px;
  border-left: 10px solid transparent;
  border-bottom: 1px solid #f0f0f0;
}
.section-search .result .block .list .city .name {
  margin-right: 20px;
  font-size: 16px;
}
.section-search .result .block .list .city .rec {
  color: #8d8d8d;
}
.section-search .result .block .list .city .icon-add {
  float: right;
  width: 35px;
  height: 35px;
  margin-top: -6px;
  cursor: pointer;
}
.section-search .result .block .list .city:hover {
  border-left-color: #e95469;
  background: #f0f0f0;
}
.section-search .result .block .list .city:hover .icon-add {
  border-radius: 2px;
  background-position: -469px 0;
  background-color: #e95469;
}
.section-search .result .block .list .selected .icon-add {
  display: none;
}
.section-search .result .block .list .selected:hover {
  border-left-color: transparent;
  background: transparent;
}
.section-search .result .block .list .loading {
  display: none;
  height: 100px;
  background: url("i/loading.gif") center center no-repeat;
}
.section-search .select {
  float: left;
  width: 26%;
  height: 520px;
  padding: 0 3%;
  border-top: 10px solid #404a58;
  background: #f7f7f7;
}
.section-search .select .tit {
  margin-top: 16px;
}
.section-search .select .list {
  height: 300px;
  overflow-y: auto;
  margin-top: 22px zz;
}
.section-search .select .list li {
  padding: 12px 0;
  border-bottom: 1px dashed #bebebe;
}
.section-search .select .list li .icon-del {
  float: right;
  width: 18px;
  height: 18px;
  margin-right: 8px;
  text-align: center;
  cursor: pointer;
}
.section-search .select .list li:hover {
  color: #e95469;
}
.section-search .select .list li:hover .icon-del {
  border-radius: 3px;
  background: #e95469;
  color: #fff;
}
.section-search .select .btn-view {
  display: block;
  width: 100%;
  height: 45px;
  margin: 20px auto 0;
  border-radius: 3px;
  background: #e95469;
  color: #fff;
  font-size: 16px;
  line-height: 45px;
  text-align: center;
}
